In [12]:
import pandas as pd

In [13]:
pd.set_option('display.max_columns',None)

In [14]:
df = pd.read_csv('adult.data', header=None)
df.columns = ['age', 'workclass', 'fnlwgt', 
              'education', 'education_num', 
              'marital_status', 'occupation', 
              'relationship', 'race', 'sex', 
              'capital_gain', 'capital_loss', 
              'hours_per_week', 'native_country', 
              'income']
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

<b>Число столбцов в наборе данных?</b>

In [15]:
print('Ответ:', len(df.columns))

Ответ: 15

<b>Есть ли пропуски в данных? Если есть, то в каких столбцах?</b>

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [17]:
print('Ответ: Пустых значений нет.')

Ответ: Пустых значений нет.

<b>Кол-во уникальных значений в столбце race?</b>

In [18]:
print('Ответ:', len(df['race'].unique()))

Ответ: 5

<b>Медиана hours-per-week?</b>

In [19]:
print('Ответ:', (df['hours_per_week'].median()))

Ответ: 40.0

<b>Кого больше - женщин или мужчин с ЗП >50K?</b>

In [20]:
income = df['income'] == ' >50K'
men = df[income]['sex'].value_counts()[' Male']
print('Количество мужчин: ', men)
women = df[income]['sex'].value_counts()[' Female']
print('Количество женщин: ', women)
if men>women:
    print('Ответ: Мужчин')
elif women>men:
    print('Ответ: Женщин')
else:
    print('Одинаково')

Количество мужчин:  6662
Количество женщин:  1179
Ответ: Мужчин

<b>Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями. Как еще можно было бы заполнить пропущенные данные?</b>

Находим в трех столбцах: age, workclass и education наиболее встречаемые значения. И заменяем пропуски в столбцах на эти значения.

In [21]:
ex6 = ['age', 'workclass', 'education']
for col in ex6:
    mode_value = df[col].mode().values[0]
    print('Наиболее встречаемое значение в столбце ', col, ': ', mode_value)
    df.replace({col: ' '}, mode_value, inplace=True)

Наиболее встречаемое значение в столбце  age :  36
Наиболее встречаемое значение в столбце  workclass :   Private
Наиболее встречаемое значение в столбце  education :   HS-grad

Изменений не произошло. Проверим, есть ли пропуски в данных.

Проверка на пропуски:

In [23]:
print(df.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

Пропусков нет. Изменений не произойдет.

Пустые пропуски в данных можно заполнять различными способами, в зависимости от контекста и типа данных. Например: среднее значение, медиана, константа, интерполяция, предыдущие/следующие значения и тому подобное.