<h3>Импорт библиотек</h3>

In [5]:
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('heart.csv')
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

<h3>Разделяем данные на тестовые, тренировачные и валидационные</h3>

In [6]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

<h3>Дропаем целевой признак</h3>

In [12]:
x_train = df_train.drop("DEATH_EVENT", axis = 1)
y_train = df_train["DEATH_EVENT"]

In [13]:
x_val = df_val.drop("DEATH_EVENT", axis = 1)
y_val = df_val["DEATH_EVENT"]
x_test = df_test.drop("DEATH_EVENT", axis = 1)
y_test = df_test["DEATH_EVENT"]

<h3>Обучаем модель и узнаем точность предсказания</h3>

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression(solver = 'liblinear', C = 1.0, max_iter=100, random_state=42)
model.fit(x_train, y_train)
y_pred = model.predict(x_val)
print("Точность предсказания смерти от сердечного приступа: ", round(accuracy_score(y_val, y_pred), 2))

Точность предсказания смерти от сердечного приступа:  0.83

In [17]:
import joblib

<h3>Сохранение модели</h3>

In [18]:
joblib.dump(model, 'death_heart.pkl')

['death_heart.pkl']

<h3>Названия оставшихся столбцов</h3>

In [20]:
x_train.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time'],
      dtype='object')